@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

::selection {
    background: #00000014;
    color: rgb(37, 159, 133);
}